<!DOCTYPE html>
<html lang = "en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
  <script src="https://kit.fontawesome.com/9eed909b3f.js" crossorigin="anonymous"></script>
  
  
  
</head>
<body>
  <div class="container">
    <!-- 헤더 -->
    <div class="header">
      <div class="log" sec:authorize ="!isAuthenticated()">
        <a class="icon" href="/">Bllog</a>
        <a class="log-in" href="/auth/login">로그인</a>
        <a class="sign" href="/auth/sign">회원가입</a>
      </div>
       <div class="log" sec:authorize="isAuthenticated()">
        <a class="icon" href="/">Bllog</a>
        <a class="log-in" href="/logout">로그아웃</a>
        <a class="sign" href="/user/info">회원정보</a>
      </div>
    </div>
    <!-- 나머지 -->
    <div class="intext">
      <!-- 비디오 -->
      <div class="videos">
        <div class="video-fram"></div>
        <video src="/vid/KakaoTalk_20210726_183750544.mp4" 
        autoplay="autoplay" loop muted="muted"></video>
        <div class="video-text">
          <p>Make Your Blog.</p>
          <p>Communicate With People</p>
        </div>

      </div>
      <!--메인  -->
      <div class="main">
        <div class="item-text">
          <p>Bllog</p>
          <p>당신의 일상을 공유하세요</p>

        </div>
        <!-- item1 -->
        <div class="item1">
          <div class="inner">            
            <div class="tab">
              <div class="item">
                <div class="slide slide1">
                  <div class="slide-filter"></div>
                  <p>Alone We Can Do So Little. <span> <br>Together We Can Do So Much!! </span></p>
                </div>
                <div class="slide slide2">
                  <div class="slide-filter"></div>
                  <p>Record your precious day.</p>

                </div>
                <div class="slide slide3">
                  <div class="slide-filter"></div>
                  <p>Through this we can be close to solving the problem.</p>
                </div>
              </div>

              <div class="arrow">
                <i class="fas fa-arrow-left"></i>
                <i class="fas fa-arrow-right"></i>
              </div>

              <div class="btn">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
              </div>
            </div>
            
          </div>
        </div>

        
        <!-- item2 -->
        <div class="item2">
          <div class="item2-text"><p>categories</p></div>
          <div class="cards">
            <div class="card card1">
              <div class="cardcontent cardimg1">
                <div class="cardimg-filter"></div>
                <div class="cardhover">
                  <a href="#">GO</a>
                  <!-- go에 링크 걸고 각 card마다 링크 걸어야지 card 아무 페이지나 클릭시 링크로 넘어감!! -->
                </div>
              </div>
              <p>IT 트랜드</p>
            </div>
            <div class="card card2">
              <div class="cardcontent cardimg2">
                <div class="cardhover">
                  <a href="#">GO</a>
                </div>
                <div class="cardimg-filter">

              </div></div>
              <p>독서</p>
            </div>
            <div class="card card3">
              <div class="cardcontent cardimg3"><div class="cardhover">
                <a href="#">GO</a>
              </div><div class="cardimg-filter"></div></div>
              <p>영화</p>
            </div>
            <div class="card card4">
              <div class="cardcontent cardimg4"><div class="cardhover">
                <a href="#">GO</a>
              </div><div class="cardimg-filter"></div></div>
              <p>음악</p>
            </div>
            <div class="card card5">
              <div class="cardcontent cardimg5"><div class="cardhover">
                <a href="#">GO</a>
              </div><div class="cardimg-filter"></div></div>
              <p>요리</p>
            </div>
            <div class="card card6">
              <div class="cardcontent cardimg6"><div class="cardhover">
                <a href="#">GO</a>
              </div><div class="cardimg-filter"></div></div>
              <p>운동</p>
            </div>
            <div class="card card7">
              <div class="cardcontent cardimg7"><div class="cardhover">
                <a href="#">GO</a>
              </div><div class="cardimg-filter"></div></div>
              <p>문화 예술</p>
            </div>
            <div class="card card8">
              <div class="cardcontent cardimg8"><div class="cardhover">
                <a href="#">GO</a>
              </div><div class="cardimg-filter"></div></div>
              <p>MORE</p>
            </div>

          </div>
          
          
          
          
        </div>
      </div>

      <!-- 푸터 -->
      <div class="footer">
        <div class="footer-icon">
          <p>Bllog</p>
          <a href="https://ko-kr.facebook.com/"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
          <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
        

        </div>

      </div>
     
    </div>
  </div>
  <script src="/js/jquery-1.12.4 (2).js"></script>
  <script src="/js/main.js"></script>
  
</body>
</html>